Repository jacob15803/StreamSphere: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-tests, backend-tests

frontend-tests:
  stage: test
  image: node:18-alpine
  before_script:
  - cd frontend
  - npm ci --cache .npm --prefer-offline
  script:
  - npm run lint || true
  - npm run test || true
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
    - frontend/.next/cache/
    - frontend/.npm/

backend-tests:
  stage: test
  image: node:18-alpine
  before_script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  script:
  - npm run lint || true
  - npm run test || true
  cache:
    key:
      files:
      - server/package-lock.json
    paths:
    - server/node_modules/
    - server/.npm/

Merge
  .gitignore
Due: none

Add files via upload
  Reports/Automated_Testing_Report_Complete.xlsx
Due: none

Add files via upload
  Reports/Updated_Manual_Testing_Report.xlsx
Due: none

feat: Add SAST security scanning
  .gitignore
Due: none

SAST report
  Reports/input.md
Due: none

feat: Add SAST report viewer and security report markdown
  frontend/src/components/profile/PlansPanel.js
  quick-report-viewer.html
  sast_report_md.md
  server/seedDatabase.js
Due: frontend-tests, backend-tests

feat: Add initial SAST security report for StreamSphere application
  sast_report.md
Due: none

Refactor and enhance media pages for improved user experience
  frontend/src/components/MediaRow.js
  frontend/src/components/common/MediaCard.js
  frontend/src/components/player/VideoPlayer.js
  frontend/src/pages/index.js
  frontend/src/pages/subscription.js
  frontend/src/pages/watch/[id].js
Due: frontend-tests

Path conditions:
  frontend-tests: any of: frontend/**/*
  backend-tests: any of: server/**/*
